.content-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.add-todo__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-todo__description {
    resize: none;
}