.todos__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 100px;
  border-radius: 25px;
  width: 40%;
  height: fit-content;
  background-color: #f4f3f4;
}

.section__header {
  width: 100%;
  background-color: #c26659;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.todos__header {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 25px;
}

.todos__message {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
}

.todos__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.todos__list-element {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 35px;
}

.todos__list-element::after {
  content: "";
  position: absolute;
  top: 55px;
  margin-bottom: 50px;
  width: calc(95% - 20px);
  height: 3px;
  background-color: #e1e1e1;
}

.element__title {
  margin-left: 15px;
  font-size: 27px;
  color: black;
  font-weight: bold;
}

.element__title--styled {
  margin-left: 15px;
  text-decoration-line: line-through;
  color: #e1e1e1;
  font-size: 27px;
  font-weight: bold;
}

.element__status-container {
  margin-right: 70px;
}

.element__priority {
  margin-right: 20px;
  padding: 7px;
  background-color: #a6ba9e;
  border-radius: 7px;
  color: white;
  font-weight: bold;
}

.element__checkbox {
  transform: scale(2.5);
  cursor: pointer;
}
